<div class="main bg-light mx-5 mt-5">
  <div>
    <ng-container>
      <div class="Hmain">
        <div class="content">
          <div class="o-c">
            <div>
              <div class="card">
                <h3>Enter Email to get reset link</h3>

                <form [formGroup]="myForgotForm">
                  <div class="form-group">
                    <input
                      type="email"
                      placeholder="email"
                      class="my-2 input-sm"
                      formControlName="email"
                    />
                    <small
                      class="text-danger mx-2"
                      *ngIf="
                        !myForgotForm.controls.email.valid &&
                        myForgotForm.controls.email.touched
                      "
                      >Please enter valid Email</small
                    >
                  </div>

                  <button
                    class="btn btn-block btn-info mt-2"
                    [disabled]="!myForgotForm.valid"
                    (click)="forgetPassword()"
                  >
                    Reset Password
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="success" class="alert alert-success mt-3" role="alert">
          Please check your email and click on verification link to reset
          password.
        </div>
        <button
          *ngIf="success"
          class="btn btn-info btn-sm mt-2"
          [routerLink]="['/']"
        >
          Go to SignIn
        </button>
        <div *ngIf="error_msg" class="alert alert-danger mt-3" role="alert">
          <strong>An Error occured :</strong> {{ error_msg }}
        </div>
      </div>
    </ng-container>
  </div>
</div>
